@import (reference) "../../../less/constants.less";

.icon {
  width: 20px;
  height: 20px;

  transition: stroke 100ms @ease-out,
    fill 100ms @ease-out;
  fill: #fff;
  stroke: #fff;
  stroke-width: 0;
}

button:not([disabled]):hover svg,
a:hover svg {
  fill: @color-blue;
  //stroke: @color-blue;
}

.icon__description {
  position: relative;
  top: -3px;
}