@import '../../less/constants.less';

.stopwatch--time-wrap {
  position: relative;
  width: 202px;
  padding-top: 55px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  height: 202px;
  text-align: center;
}

.stopwatch--target {
  &, .time--unit, .time {
    font-size: 15px;
  }
}

.stopwatch-target--title {
  margin: 0;
  color: rgba(255, 255, 255, .6);
  font-weight: 200;
}

.stopwatch-circle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.stopwatch-circle-trail {
  stroke: @color-gray-transparent;
}
.stopwatch-circle-path {
  transition: stroke 1s @ease-in !important;
}