@import '../../less/constants.less';

#footer {
  padding-left: 15px;
  padding-top: 15px;
  margin-bottom: 10px;
}
.more-info-link {
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  font-weight: 200;
  opacity: .5;
  transition: opacity .14s @ease-out;
  &:hover, &:focus {
    opacity: 1;
  }
}