/* Color */
@color-red: #cf223c;
@color-blue: #009fe3;

@color-gray-transparent: rgba(255, 255, 255, .1);
@color-dark-gray: #3f4146;
@color-light-gray: #999;
@color-editor-text: #575554;

/* Sizes */
@sidebar-width: 332px;
@sidebar-width--small: 280px;
@editor-width: 850px;
@editor-padding: 8%;
@mobile-menu-height: 44px;

@bookmark-cut-height: 22px;
@bookmark-width: 258px;
@bookmark-content-padding: 25px 30px 0;

@breakpoint-desktop-big: 1250px;
@breakpoint-sidebar-width-small: 1040px;
@breakpoint-sidebar-height: 750px;
@breakpoint-sidebar-height-plus-1: (@breakpoint-sidebar-height + 1);

/* Fonts */
@font-open-sans: 'Open Sans';

/* Fontstacks */
@fontstack-regular: @font-open-sans, Helvetica, sans-serif;

/* Custom eases */
@ease-out-back: cubic-bezier(.17, .86, .22, 1.4);
@ease-out: cubic-bezier(.52,.24,.81,.98);
@ease-in-back: cubic-bezier(.75,-0.26,.74,.65);
@ease-in: cubic-bezier(.71,0,.74,.65);
@ease-in-out: cubic-bezier(.63,.21,.7,.91);
@ease-in-out-back: cubic-bezier(.67,-0.22,.46,1.19);