.font-rendering {
  -webkit-font-smoothing: antialiased;
  -khtml-font-smoothing: antialiased;
  -apple-font-smoothing: antialiased;
  font-smooth: always;
  text-rendering: optimizelegibility;
  text-rendering: geometricPrecision;
}