@import "../less/constants.less";
@import "../less/mixins.less";

@media (max-width: 767px) {
  html, body, #app, .editor-component, .editor, .editor-wrapper {
    height: 100%;
    min-height: 100%;
  }
}
body {
  margin: 0;
  padding: 0;

  font-family: @fontstack-regular;
  font-size: 16px;
  line-height: 1.2;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-text-size-adjust: none;
  background: url(../images/background.jpg) no-repeat center fixed;
  background-size: cover;
  .font-rendering;
}
*, *:before, *:after {
  box-sizing: border-box;
}


button:hover {
  cursor: pointer;
}
.public-DraftEditorPlaceholder-root {
  position: absolute;
  color: #aaa;
}
button {
  border-radius: 0;
}