@import "../../less/constants.less";
@import "../../less/mixins.less";

.share {
  position: relative;
  z-index: 0;
  padding-bottom: 30px;
}

.share--content {
  position: relative;
  z-index: 1;
  padding: @bookmark-content-padding;
  .font-rendering;
  color: #fff;
}

.share--background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.share--background-color {
  background: @color-blue;
  opacity: .2;
}

.share--background-image {
  background: url(../../images/background.jpg) no-repeat center fixed;
  background-size: cover;
}

.share--header {
  line-height: 1.1;
  font-weight: 400;
}

.share--info {
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 0;
  padding-bottom: 30px;
}

.share--link {
  position: relative;
  z-index: 1;
  background: #c7c8c9;
  color: rgba(0, 0, 0, .7);
  text-align: center;
  width: 100%;
  display: block;
  padding: 14px 0;
  margin: 0;
  font-size: 13px;
  text-decoration: none;
}

.share-buttons {
  text-align: center;
}
.share-button {
  margin: 0 5px;
}
.share--icon {
  width: 28px;
  height: 28px;
  color: #fff;
}