@import "../../less/constants.less";
@import "../../less/mixins.less";

.editor-part--break {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

.break-wrap {
  position: relative;
  overflow: hidden;
}

.break-indicator--bar {
  position: absolute;
  top: 11px;
  left: 0;
  right: 0;
  height: 1px;
  background: #d6d6d2;
}

.break-indicator--label {
  position: relative;
  z-index: 1;
  display: block;
  margin: 0;
  width: 260px;
  height: 24px;
  line-height: 18px;
  font-size: 10px;
  padding: 0 5px 0 0;
  .font-rendering;
}

.break-indicator-label {
  text-transform: uppercase;
  vertical-align: middle;
  background: #fff;
  padding: 3px;
  padding-left: 2px;
  .font-rendering;
  color: darken(@color-light-gray, 30%);
}

.break-indicator--input {
  display: inline-block;
  vertical-align: middle;
  min-width: 16px;
  height: 24px;
  margin: 0 3px;
  padding: 0 0 0 3px;
  border: 1px solid #d6d6d2;
  line-height: 16px;
  font-size: 16px;
  text-align: left;
  background-color: #fff;
  font-weight: bold;
  color: @color-editor-text;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    opacity: 1;
  }
  &:focus {
    outline: none;
  }
  &:disabled {
    opacity: 1;
  }
}

::-webkit-input-placeholder {
  color: @color-light-gray;
}
::-moz-placeholder {
  color: @color-light-gray;
}
:-ms-input-placeholder {
  color: @color-light-gray;
}
:-moz-placeholder {
  color: @color-light-gray;
}

.break-description {
  display: block;
  resize: none;
  width: 100%;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  font-family: inherit;
  color: @color-blue;

  .font-rendering;

  &:focus {
    outline: none;
  }
  .break-indicator__with-description & {
  }

  @media (max-width: 767px) {
    width: 100%;
    font-size: 16px; // prevent zooming on focus on iOS
  }
}