@import '../../less/constants.less';
@import '../../less/mixins.less';

@track-padding: 20px;
@track-color: #666;
@thumb-color: #999;

@thumb-radius: 20px;
@thumb-height: 20px;
@thumb-width: 20px;

@track-width: 100%;
@track-height: 2px;
@contrast: 40%;

.slider {
  margin-top: 47px;
  @media (max-width: 1040px) {
    margin-top: 39px;
  }
  @media (max-height: @breakpoint-sidebar-height) {
    margin-top: 15px;
  }
}

.track() {
  width: @track-width;
  height: @track-height;
  cursor: col-resize;
  background-color: transparent;
  top: 0;
  padding: 0;
  &:focus,
  &:active {
    outline: none
  }
}

.thumb() {
  display: block;
  height: @thumb-height;
  width: @thumb-width;
  border-radius: @thumb-radius;
  background: @thumb-color;
  cursor: col-resize;
  transition: all .2s @ease-in;
  border: none;

  &:hover {
    background-color: #fff;
  }
}
input[type=range] {
  -webkit-appearance: none;
  width: @track-width;

  max-width: @sidebar-width - (@track-padding * 2);
  margin-left: @track-padding;
  margin-right: @track-padding;
  height: 30px;
  position: relative;
  z-index: 1;

  @media (max-width: @breakpoint-sidebar-width-small) {
    width: @sidebar-width--small - (@track-padding * 2);
  }

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    .track();
  }

  &::-webkit-slider-thumb {
    .thumb();
    -webkit-appearance: none;
    margin-top: ((@track-height) / 2) - (@thumb-height / 2);
    margin-left: 0;
  }

  &:focus,
  &:hover {
    & ~ .slider-track {
      opacity: 1;
    }
  }
  &:active {
    outline: none;
    & ~ .slider-track {
      opacity: 1;
    }
  }

  &::-moz-range-track {
    .track();
  }
  &::-moz-range-thumb {
    .thumb();
  }
  &::-moz-focus-outer {
    border: 0;
  }

  &::-ms-track {
    .track();
    background: transparent;
    border-color: transparent;
    border-width: @thumb-width 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    background: transparent;
  }
  &::-ms-fill-upper {
    background: transparent;
  }
  &::-ms-thumb {
    margin-top: @track-height/2;
    .thumb();
  }
  &::-ms-tooltip {
    display: none;
  }
}

.slider-container {
  position: relative;
  height: 40px;
  overflow: hidden;
}

.slider-track {
  position: absolute;
  height: @track-height;
  width: 332px;
  top: 15px;
  opacity: .7;
  z-index: 0;
}

.slider-track-pre {
  background: @color-red;
  right: @sidebar-width - @track-padding;
  transition: opacity .14s @ease-out,
    transform .1s @ease-out;
  transition-delay: 0.05s;
  @media (max-width: @breakpoint-sidebar-width-small) {
    right: @sidebar-width--small - @track-padding;
  }
}

.slider-track-post {
  background: @track-color;
  left: 40px;
  transition: opacity .14s @ease-out,
    transform .1s @ease-in;
}

.slider--label {
  margin: 10px 30px 15px;
  @media (max-height: @breakpoint-sidebar-height) {
    margin-top: 5px;
  }
}

.slider-label--header {
  font-size: 16px;
  font-weight: 200;
  margin: 0;
  .font-rendering;
}

.slider-label--person {
  position: absolute;
  top: 0;
  left: 7px;
  display: block;
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  font-size: 15px;

  font-family: @fontstack-regular;
  font-weight: 400;
  padding: 0;
  margin: 0;
  transform: translateY(-30px);
  transition: transform .45s @ease-in-out-back;

  &:focus,
  &:hover {
    .slider-label-person--name {
      color: @color-blue;
    }
  }
  &:focus {
    outline: none;
  }
}
.slider-label--person__active {
  transform: translateY(0);
  .slider-label-person--values,
  .slider-label-person--name {
    transform: translateY(0);
  }
  & ~ .slider-label--person {
    transform: translateY(30px);
  }
}
.slider-label-person--values {
  vertical-align: top;
  width: 1.5em;
  height: 24px;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  position: relative;
  transition: transform .45s @ease-in-back;
  transform: translateY(30px);
  margin-right: 10px;
}
.slider-label-person--value {
  display: block;
  height: 24px;
  width: 1.5em;
  position: absolute;
  top: 0;
  left: 0;

  transition: transform .55s @ease-in-out-back;
  transform: translateY(30px);
}
.slider-label-person--value__active {
  transform: translateY(0);
}
.slider-label-person--name {
  overflow: hidden;
  display: inline-block;
  height: 24px;
  line-height: 24px;

  transition: transform .45s @ease-in-back;
  transform: translateY(30px);
}



.people-container {
  position: relative;
  overflow: hidden;
  height: 24px;
  margin-top: 5px;
}
/**/