@import '../../less/constants.less';

.sidebar {
  position: absolute;
  left: 0;
  z-index: 10;
  width: @sidebar-width;
  color: #fff;
  background: rgba(63, 65, 70, .75);
  min-height: 100vh;
  overflow: hidden;

  @media (max-width: @breakpoint-sidebar-width-small) {
    width: @sidebar-width--small;
  }
  @media (max-width: 767px) {
    transform: translate(-@sidebar-width--small);
    transition: transform 200ms ease-in-out;
    background: @color-dark-gray;
    overflow: visible;
    position: fixed;

    &__opened {
      transform: translate(0);
    }
  }
  @media print {
    display: none;
  }
}
.sidebar--contents {
  position: fixed;
  width: @sidebar-width;
  overflow-y: auto;
  height: 100%;
  @media (max-width: @breakpoint-sidebar-width-small) {
    width: @sidebar-width--small;
  }
}

.sidebar--buttons {
  margin-top: 36px;

  @media (max-height: @breakpoint-sidebar-height) {
    margin-top: 15px;
  }
}
