@import '../../less/constants.less';
@import '../../less/mixins.less';

.sidebar-button {
  position: relative;
  display: block;
  appearance: none;
  background: none;
  border: none;
  width: 100%;
  padding: 38px 35px;
  color: #fff;
  text-align: left;
  border-right: 2px solid transparent;
  font-weight: 200;
  font-size: 14px;

  .font-rendering;

  transition: background 150ms @ease-out,
    color 150ms @ease-out;

  &:before,
  &:last-child:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, .4), rgba(255, 255, 255, 0))
  }

  &:last-child:after {
    top: auto;
    bottom: 0;
  }

  &__active {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0));
  }
  &__active,
  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    outline: none;
    border-right-color: @color-blue;
  }

  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    background-color: rgba(0, 0, 0, .1);
    .icon {
      fill: @color-blue;
    }
  }

  > * {
    transition: opacity 150ms @ease-out;
  }

  &:disabled {
    > * {
      opacity: .3;
    }
  }
  &:active {
    > * {
      color: @color-blue
    }
  }

  @media (max-height: @breakpoint-sidebar-height) {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  @media (max-width: 767px) {
    transition: transform 200ms ease-out 200ms,
    background 150ms @ease-out,
    color 150ms @ease-out;
  }
}

.sidebar-button--label {
  height: 50px;
  line-height: 50px;
  left: 70px;
}

.sidebar-button--icon {
  width: 16px;
  height: 16px;
  line-height: 16px;
}

.sidebar-button--icon,
.sidebar-button--label {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}