@import "../../less/constants.less";

.bookmark {
  position: absolute;
  top: 0;
  right: 30px;
  width: @bookmark-width;

  margin: 0;

  transition: transform .2s @ease-in-out;
  z-index: 1;

  &:after,
  &:before {
    content: '';
    position: absolute;
    bottom: -@bookmark-cut-height;
  }
  &:before {
    left: 0;
    border-left: (@bookmark-width/2) solid @color-dark-gray;
    border-bottom: @bookmark-cut-height solid transparent;
  }
  &:after {
    right: 0;
    border-right: (@bookmark-width/2) solid @color-dark-gray;
    border-bottom: @bookmark-cut-height solid transparent;
  }

  @media (max-width: 767px) {
    right: 5px;
  }
}

.bookmark__invisible {
  transform: translateY(-500px);
}

.bookmark__nocut {
  &:before,
  &:after {
    content: none;
  }
}

.bookmark--close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  z-index: 1;
  color: #fff;
  width: 48px;
  height: 48px;
  background: rgba(0,0,0, .1);
}