@import '../../less/constants.less';

.editor-controls {
  width: 202px;
  height: 202px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 65px;
  border: 2px solid @color-gray-transparent;
  text-align: center;
  border-radius: 101px;

  @media (max-width: 1040px) {
    margin-top: 39px;
  }
}

.time--logotype {
  width: 100px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  margin-bottom: 0;
  font-size: 22px;
}

.editor-controls--time {
  margin-top: 65px;

  @media (max-width: 767px) {
    height: 101px;
  }
}

.button-enable-edit {
  background: @color-blue;
  padding: 20px 25px;
  color: #fff;
  margin-top: 20px;
  position: relative;
  border-radius: 3px;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 4px 15px -4px rgba(0, 0, 0, 1);
    opacity: .55;
    transition: opacity .14s ease-in-out;
  }
  &:hover, &:focus {
    outline: none;
    &::after {
      opacity: 1;
    }
  }
  &:active {
    &::after {
      opacity: 0;
    }
  }

  @media (max-width: 767px) {
    position: fixed;
    bottom: 60px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 160px;
    z-index: 1;
  }
}
