@import "../../less/constants.less";
@import "../../less/mixins.less";

.person {
  color: #fff;
  background: @color-dark-gray;
  padding: 0 0 @bookmark-cut-height * 2;
}

.person--photo {
  max-width: 100%;
  height: auto;
}
.person--info {
  padding: @bookmark-content-padding;
  font-size: 12px;
}

.person--name {
  margin-bottom: .8em;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  .font-rendering;
}

.person--bio {
  margin-top: 5px;
  margin-bottom: 0;
  line-height: 1.5;
  .font-rendering;
}