@import '../../less/constants.less';

.mobile-menu {
  position: fixed;
  z-index: 2;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: @mobile-menu-height;
  background-color: @color-blue;
  transition: transform 220ms @ease-in;

  @media (min-width: 768px) {
    display: none;
  }

  .sidebar__opened + .editor & {
    transform: translateX(@sidebar-width--small);
  }
}
.mobile-menu--buttons {
  display: inline-block;
}

.mobile-menu--button {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: @mobile-menu-height;
  height: @mobile-menu-height;
  padding: 0;
  border-right: 1px solid rgba(255, 255, 255, .4);
  .icon {
    height: 16px;
    fill: #fff;
  }

  &:hover,
  &:focus,
  &:active {
    .icon {
      fill: @color-dark-gray
    }
  }
  &:disabled {
    .icon {
      fill: rgba(255, 255, 255, .4)
    }
  }
}
.mobile-menu--button__active {
  .icon {
    fill: #000;
  }
}

.mobile-menu--button__stopwatch {
  display: none;
}

.mobile-menu--time {
  font-size: 16px !important;
  display: inline-block;
  flex: 1;
  text-align: left;
  padding-left: 15px;
  line-height: @mobile-menu-height;


  .time--sublabel {
    display: inline-block;
    font-size: 14px;
    margin-left: .5em;
    margin-top: 0;
    color: #fff;
  }
  .time--unit {
    color: #fff;
  }
  .time--unit__milliseconds {
    font-size: 12px;
  }
}
.mobile-menu--icon__description {
  transform: translateY(3px);
}