@import "../../less/constants.less";

@size: 40px;
.main--time {
  visibility: hidden;
  display: none;

  position: fixed;
  height: @size;
  padding: 0 10px;
  margin: 0;

  top: 0;
  right: 23px;
  background: white;
  border: 1px solid rgba(0,0,0, .1);
  border-top: none;

  text-align: center;
  box-shadow: 0 0 15px -3px rgba(0,0,0, .4);

  line-height: @size;

  cursor: move;
  z-index: 11;

  .time--sublabel {
    margin-top: 0;
  }

  @media (max-width: 767px){
    right: 5px;
    visibility: visible;
    display: block;

    transition: transform 220ms @ease-in;

    .sidebar__opened + .editor & {
      transform: translateX(@sidebar-width--small);
    }
  }
}
