@import '../../less/constants.less';

.time {
  font-size: 50px;
  font-weight: 200;
}


.time__biggest-sublabel-is-seconds {
  font-size: 60px;
}

.time--unit__milliseconds {
  font-size: 30px;
  color: rgba(255, 255, 255, .6);
}

.time--sublabel {
  display: block;
  font-size: 19px;
  margin-top: 5px;
}
