@import "../../less/constants.less";
@import "../../less/mixins.less";

.editor-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: @sidebar-width;
  padding: 45px 10px 0;

  border: none;
  overflow-y: scroll;
  overflow-x: hidden;

  &:focus {
    outline: none;
  }
  @media (max-width: @breakpoint-sidebar-width-small) {
    left: @sidebar-width--small;
  }
  @media (max-width: 767px) {
    position: relative;
    overflow-y: auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: @mobile-menu-height + 5px;
    left: 0;
    transition: transform 250ms @ease-in;
    .sidebar__opened + .editor & {
      transform: translateX(@sidebar-width--small);
    }
  }

  @media print {
    left: 0;
  }
}
.editor-content {
  position: relative;
  width: auto;
  max-width: @editor-width;
  min-height: 100%;

  margin-left: auto;
  margin-right: auto;
  padding: @editor-padding;

  background: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: @color-editor-text;
  overflow: hidden;
  .font-rendering;


  @media (min-width: @breakpoint-desktop-big) {
    padding: 70px;
  }
  @media (max-width: @breakpoint-sidebar-width-small) {
    padding: @editor-padding * 0.8;
  }
  @media (max-width: 767px) {
    padding: @editor-padding * 0.5;
  }
}

.public-DraftEditor-content {
  h1 {
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 15px;
    line-height: 1.1;
    .font-rendering;

    &:first-child {
      margin-top: 0;
    }
  }
  .editor-part {
    margin-bottom: .5em;
  }
}